* {
  box-sizing: border-box;
}

.slider-container {
  width: 100%;
  height: 39vh;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .slide-left img {
    width: 100%;
    height: 100%;
  }
  .prev img {
    width: 100%;
    height: 100%;
  }
}

.slide-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s linear;
}

.prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateX(150%);
  transition: all 1.5s linear;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.arrow {
  color: #8e8e99;
  background-color: transparent;
  border: 2px solid #8e8e99;
  opacity: 0.6;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem; 
  cursor: pointer;
  position: absolute;
  z-index: 999;
}

.arrow:hover {
  color: rgb(199, 199, 199);
  border-color: rgb(199, 199, 199);
}

.arrow-left {
  top: 42%;
  left : 2%
}

.arrow-right {
  top: 42%;
  right: 2%
}