@font-face {
  font-family: Changa-Regular;
  src: url('../fonts/Changa-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  font-family: 'Changa-Regular', sans-serif;
  font-weight: bold;
  width: 100%;
  height: 3.75rem;
  background-color: white;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f2;
}

.link-logo {
  width: 225px;
}

.logo {
  width: 250px;
  padding-left: 25px;
}

.nav-games {
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.game {
  align-items: center;
  justify-content: space-between;
}

.navlink {
  display: block;
  padding: 0.5rem 1rem;
  color: #8e8e99;
  text-decoration: none;
}

.navlink:hover {
  color: #FFD700;
  fill: #FFD700
}

.name {
  padding-left: 0.5rem;
}

.rightsidenav {
  width: 21rem;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth {
  width: 9rem;
  height: 50px;
  border-radius: 5px;
  border-color: #8e8e99;
} 

.register {
  color: white;
  background-color: #48b46c;
}

.register:hover {
  background-color: #50C878;
}

.login {
  color: #8e8e99
}

.login:hover {
  background-color: #e0e0e0;
}

